<section>
    <h2 class="aboutTitle">About</h2>
    <div class="wave wave1"></div>
    <div class="wave wave3"></div>
</section>
    <div class="aboutContent">
        <div>
            <div class="aboutPar">
                <p>
                    Met INSERT PROJECT NAME checkt u heel eenvoudig, en op voorhand de status van uw parking.
                <br>
                Je zal nooit meer voor de slagboom van een volle parking staan!
                </p>
            </div>
        </div>
        <div class="aboutPar">
            <div class="mat-display-3">Missie.</div>
            <p>
                Wij streven ernaar de bezetting van parkings online weer te geven en zodoende de parkeerdrukte op piekuren te verminderen.
                <br>
                Door het bijhouden van parkeerdata proberen we een inzicht te verwerven in de parkeernoden van steden.
            </p>
        </div>
        <div class="aboutPar">
            <div class="mat-display-3">Meet the team!</div>
            <div class="team">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Jordy Van Kerkvoorde</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <img src="../../assets/JordyVanKerkvoorde.jpg" alt="Jordy Van Kerkvoorde" class="profile">
                        <ul>
                            <li>Oprichter</li>
                            <li>Lead Developer</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

