.pointer {
    cursor: pointer;
}

 .background{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60%;
    background-image: url("../../../assets/bg.svg");
    background-repeat: no-repeat;
} 

body{
}