
      <mat-card style="background-color: #FAFAFA;">
        <blockquote class="blockquote bq-warning">
            <p class="bq-title" style="font-size: 3em;">{{ this.parking.name }}</p>
        </blockquote>
        <div class="row">
          <div class="col-sm" style="padding-right: 0;">
              <ul class="list-group">
                  <li class="list-group-item">Beschikbare plaatsen:</li>
                  <li class="list-group-item">Maximale capaciteit</li>
                  <li class="list-group-item">Coördinaten:</li>
              </ul>
          </div>
          <div class="col-sm" style="padding-left: 0;">
              <li class="list-group-item">{{ this.parking.latestEntry.available }}</li>
              <li class="list-group-item">{{ this.parking.maxcap }}</li>
              <li class="list-group-item">{{ this.parking.latitude }}, {{ this.parking.longtitude }}</li>
          </div>
          <div class="col-sm"></div>
        </div>
    <!-- chart.js chartcomponent -->
        <app-chart></app-chart>
    </mat-card>

