<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['map']"><mat-icon class="icon">map</mat-icon>Home</a>
      <a mat-list-item [routerLink]="['about']"><mat-icon class="icon">fingerprint</mat-icon>About</a>
      <a mat-list-item [routerLink]="['parkinglist']"><mat-icon class="icon">local_parking</mat-icon>Parkings</a>
      <a mat-list-item [routerLink]="['journals']"><mat-icon class="icon">bookmarks</mat-icon>Update Journals</a>
      <a mat-list-item [routerLink]="['suggestions']"><mat-icon class="icon">not_listed_location</mat-icon>Suggestions</a>
      <a mat-list-item [routerLink]="['contact']"><mat-icon class="icon">phone</mat-icon>Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="nameTitle">Parkade</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
