<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      style="background-color: rgb(252, 215, 142);">
    <ul class="list-group" style="background-color: rgb(252, 215, 142);">
      
      <a class="list-group-item" [routerLink]="['map']">
        <p class="mb-0">
            <i class="fas fa-map-marked-alt fa-1x mr-4 orange p-3 rounded"></i>
            Home
        </p>
      </a>
      <a class="list-group-item" [routerLink]="['about']">
        <p class="mb-0">
            <i class="fas fa-question-circle fa-1x mr-4 orange p-3 rounded"></i>
            About
        </p>
      </a>
      <a class="list-group-item" [routerLink]="['parkinglist']">
        <p class="mb-0">
            <i class="fas fa-map-marker-alt fa-1x mr-4 orange p-3 rounded"></i>
            Parkings
        </p>
      </a>
      <a class="list-group-item" [routerLink]="['suggestions']">
        <p class="mb-0">
            <i class="fas fa-comment fa-1x mr-4 orange p-3 rounded"></i>
            Suggestions
        </p>
      </a>
      <a class="list-group-item" [routerLink]="['contact']">
        <p class="mb-0">
            <i class="fas fa-envelope fa-1x mr-4 orange p-3 rounded"></i>
            Contact
        </p>
      </a>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="nameTitle">Parkade</span>
      <span class="fill-space"></span>
      <span *ngIf="loggedInUser$ | async as user; else loginTemplate">
        <div fxLayout="row">
        <div class="username">
          {{ user }}
        </div>
        <button (click)="logout()" mat-stroked-button color="primary" style="background-color: #F7CB6E;" class="auth">
          logout
        </button>
        </div>
      </span>
      <ng-template #loginTemplate>
        <span>
          <button (click)="register()" mat-stroked-button color="accent" class="auth">
            Register
          </button>
          <button (click)="login()" mat-stroked-button color="primary" style="background-color: #F7CB6E;" class="auth">
            Login
          </button>
        </span>
      </ng-template>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
